<link rel="stylesheet" href="../../static/css/style.css">

<div class="map-container">
    <img src="../../static/img/Mapa.svg" alt="Mapa del metro de Madrid">
    <div class="interactive-map-buttons">
        <button class="btn-primary">C-1</button>
        <button class="btn-primary">C-2</button>
        <button class="btn-primary">C-3</button>
        <button class="btn-primary">C-4</button>
        <button class="btn-primary">C-5</button>
        <button class="btn-primary">C-7</button>
        <button class="btn-primary">C-8</button>
        <button class="btn-primary">C-9</button>
        <button class="btn-primary">C-10</button>
        <button class="btn-primary">CIVIS</button>
    </div>
</div>