<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css">

<div class="map-container">
    <div class="map">
        <svg
        width="512"
        height="512"
        viewBox="0 0 512 512"
        version="1.1"
        id="svg1"
        xml:space="preserve"
        inkscape:version="1.4.2 (f4327f4, 2025-05-13)"
        sodipodi:docname="Mapa.svg"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
            id="namedview1"
            pagecolor="#ffffff"
            bordercolor="#000000"
            borderopacity="0.25"
            inkscape:showpageshadow="2"
            inkscape:pageopacity="0.0"
            inkscape:pagecheckerboard="0"
            inkscape:deskcolor="#d1d1d1"
            inkscape:document-units="px"
            inkscape:zoom="0.41552734"
            inkscape:cx="-187.71328"
            inkscape:cy="6.0164512"
            inkscape:window-width="1920"
            inkscape:window-height="1111"
            inkscape:window-x="-9"
            inkscape:window-y="-9"
            inkscape:window-maximized="1"
            inkscape:current-layer="g85" /><defs
            id="defs1"><linearGradient
            id="linearGradient38"
            inkscape:collect="always"><stop
                style="stop-color:#535353;stop-opacity:1;"
                offset="0.41509432"
                id="stop38" /><stop
                style="stop-color:#737373;stop-opacity:0;"
                offset="0.68396229"
                id="stop37" /></linearGradient><marker
            style="overflow:visible"
            id="Dot"
            refX="0"
            refY="0"
            orient="auto"
            inkscape:stockid="Dot"
            markerWidth="0.2"
            markerHeight="0.2"
            viewBox="0 0 1 1"
            inkscape:isstock="true"
            inkscape:collect="always"
            preserveAspectRatio="xMidYMid"><path
                transform="scale(0.5)"
                style="fill:context-stroke;fill-rule:evenodd;stroke:none"
                d="M 5,0 C 5,2.76 2.76,5 0,5 -2.76,5 -5,2.76 -5,0 c 0,-2.76 2.3,-5 5,-5 2.76,0 5,2.24 5,5 z"
                sodipodi:nodetypes="sssss"
                id="path17" /></marker><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient35"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(1.0210127,0,0,0.99949451,5.1609208,0.22069108)" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient39"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.81091501,0,0,1.0048248,-45.887144,21.736817)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient40"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.48334797,0,0,1.0148541,-102.41085,51.477952)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient41"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-190.81161,54.539838)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient42"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.9131539,0,0,1.0021507,-28.847073,93.808506)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient44"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,-425.88598,-118.6975)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient45"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,-424.27244,-76.160389)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient47"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,437.37697,23.854308)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient48"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,438.01607,-0.74285826)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient49"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,436.40788,-34.813884)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient50"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,437.13324,50.038135)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient46"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,434.03164,-124.34187)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient46-6"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,434.57852,-152.44455)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient46-5"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,427.2452,-212.96634)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient46-1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,428.08677,-239.08775)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient46-8"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,428.58294,-262.64806)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient46-80"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.37954836,0,0,1.0187484,428.91719,-286.25382)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient51"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.48334797,0,0,1.0148541,443.98188,-86.049733)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient52"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.48334797,0,0,1.0148541,444.17524,-58.366268)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient53"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.48334797,0,0,1.0148541,448.1969,-175.63281)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient54"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,272.82286,125.77909)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient55"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,364.95941,241.84033)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient56"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-180.47714,219.33527)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient57"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-569.03863,-341.46979)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient58"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-570.9976,-412.19006)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient59"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-571.57872,-438.65249)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient60"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-571.88518,-466.40479)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient61"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-572.55754,-491.83322)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient62"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-573.19337,-517.81067)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient63"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-574.43272,-555.44094)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient64"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-575.24029,-582.87293)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient65"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-575.6069,-610.83981)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient66"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-576.31964,-633.39897)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient67"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-577.74749,-661.69803)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient68"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-387.88523,-353.85188)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient69"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-388.69512,-380.07229)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient70"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,-388.93504,-405.45495)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient71"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,458.21027,-308.02725)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /><linearGradient
            inkscape:collect="always"
            xlink:href="#linearGradient38"
            id="linearGradient72"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0.25682525,0,0,1.0241503,526.09692,-195.05119)"
            x1="-208.2084"
            y1="399.08444"
            x2="-208.2084"
            y2="474.09158" /></defs><g
            inkscape:label="Capa 1"
            inkscape:groupmode="layer"
            id="layer1"><g
            id="g85"
            inkscape:label="Cercanias Renfe"
            transform="matrix(0.42426242,0,0,0.42426242,-153.09803,16.353703)"><g
                id="g1"
                transform="matrix(1.1249021,0,0,1.1249021,-113.65885,-79.267439)"><g
                id="g75"
                inkscape:label="C-10"><path
                    style="fill:none;stroke:#b4da00;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                    d="m 983.89957,524.0697 -0.22229,103.3617 c 0,0 0.72299,4.55171 -3.70472,10.07684 -4.4277,5.52512 -8.59495,5.33479 -8.59495,5.33479 H 869.86828 c 0,0 -3.30166,-0.0738 -4.82962,-1.01934 -1.52795,-0.9456 -3.46896,-2.83357 -3.46896,-2.83357 L 591.86608,369.87925"
                    id="path10"
                    sodipodi:nodetypes="cczcczcc" /><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#b4da00;fill-opacity:1;stroke:#b4da00;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="559.56091"
                    y="370.17563"
                    id="text29"><tspan
                    sodipodi:role="line"
                    id="tspan29"
                    x="559.56091"
                    y="370.17563">C-10</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#b4da00;fill-opacity:1;stroke:#b4da00;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="877.22241"
                    y="527.7406"
                    id="text33"><tspan
                    sodipodi:role="line"
                    id="tspan33"
                    x="877.22241"
                    y="527.7406">C-10</tspan></text></g><g
                id="g73"
                inkscape:label="C-9"><path
                    style="fill:none;stroke:#71450c;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot)"
                    d="m 695.25052,196.78681 v 34.68394 c 0,0 0.0597,2.09574 -0.24503,3.03804 -0.30474,0.94229 -1.63008,2.44511 -1.63008,2.44511 l -6.92596,7.06966"
                    id="path6"
                    sodipodi:nodetypes="cczcc" /><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#0e0854;fill-opacity:1;stroke:#71450c;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="726.5813"
                    y="253.58046"
                    id="text19"><tspan
                    sodipodi:role="line"
                    id="tspan19"
                    x="726.5813"
                    y="253.58046">C-9</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#0e0854;fill-opacity:1;stroke:#71450c;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="683.61938"
                    y="193.43367"
                    id="text20"><tspan
                    sodipodi:role="line"
                    id="tspan20"
                    x="683.61938"
                    y="193.43367">C-9</tspan></text></g><g
                id="g84"
                inkscape:label="C-8"><g
                    id="g74"><g
                    id="g9"><path
                        style="fill:none;stroke:#535353;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                        d="m 1346.1769,449.52897 -249.4415,249.33664 c 0,0 -4.8323,5.12314 -10.6775,5.4039 -5.8453,0.28075 -11.3798,-4.82758 -11.3798,-4.82758 l -72.5114,-72.61622 c 0,0 -1.1416,-1.12327 -1.4236,-1.87978 -0.2821,-0.75651 -0.253,-2.41641 -0.253,-2.41641 l 0.081,-104.46146 c 0,0 0.213,-3.35354 -0.3705,-5.03842 -0.58339,-1.68489 -3.48241,-4.74204 -3.48241,-4.74204 l -95.98338,-96.69091 c 0,0 -1.4117,-1.46554 -4.2962,-3.19595 -2.8845,-1.73041 -5.76319,-1.62417 -5.76319,-1.62417 l -157.80668,-0.41915 c 0,0 -3.71075,0.021 -6.2744,1.28067 -2.56364,1.25966 -5.46155,4.37774 -5.46155,4.37774 l -31.22602,30.80688 c 0,0 -2.60013,2.34368 -6.5835,2.4789 -3.98337,0.13521 -6.61945,-2.26933 -6.61945,-2.26933 L 588.89373,355.64134 488.71868,254.83787"
                        id="path4"
                        sodipodi:nodetypes="cczcczcczcczcczcczccc" /><path
                        style="fill:none;stroke:#535353;stroke-width:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 589.05049,355.65313 c 0,0 -2.71474,-4.23888 -1.91517,-9.46045 0.79957,-5.22157 3.55217,-7.68746 3.55217,-7.68746 l 95.87124,-94.58645"
                        id="path5"
                        sodipodi:nodetypes="czcc" /></g><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#0e0854;fill-opacity:1;stroke:#535353;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:0.92549"
                    x="476.5636"
                    y="250.85603"
                    id="text17"><tspan
                        sodipodi:role="line"
                        id="tspan17"
                        x="476.5636"
                        y="250.85603">C-8a</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#0e0854;fill-opacity:1;stroke:#535353;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="690.53516"
                    y="253.58044"
                    id="text18"><tspan
                        sodipodi:role="line"
                        id="tspan18"
                        x="690.53516"
                        y="253.58044">C-8a</tspan></text></g><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#196510;fill-opacity:1;stroke:#535353;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="1377.01"
                    y="437.2684"
                    id="text27"><tspan
                    sodipodi:role="line"
                    id="tspan27"
                    x="1377.01"
                    y="437.2684">C-8</tspan></text></g><g
                id="g80"
                inkscape:label="C-7"><path
                    style="fill:none;stroke:#ff0707;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                    d="M 1278.7999,528.11795 1099.6276,708.1264 c 0,0 -5.3208,4.88093 -14.1446,5.18041 -8.8238,0.29947 -14.9671,-4.96433 -14.9671,-4.96433 l -74.63633,-76.2775 c 0,0 -2.04906,-2.17644 -2.72442,-3.92945 -0.67536,-1.75302 -0.94307,-6.54908 -0.94307,-6.54908 l 0.20957,-102.27046 c 0,0 -0.0678,-3.17449 -0.83828,-5.13448 -0.7705,-1.96 -4.40098,-6.18234 -4.40098,-6.18234 l -89.69623,-89.17229 c 0,0 -3.04518,-2.72522 -4.61055,-3.66749 -1.56537,-0.94228 -6.44429,-1.67656 -6.44429,-1.67656 l -149.16189,-0.20958 c 0,0 -4.47074,0.36723 -6.3919,1.15264 -1.92117,0.7854 -4.92492,3.35313 -4.92492,3.35313 l -29.47086,28.89455 c 0,0 -3.51553,2.60325 -3.77227,7.30877 -0.25674,4.70553 2.64583,7.30879 2.64583,7.30879 L 823.92688,590.57"
                    id="path3"
                    sodipodi:nodetypes="cczcczcczcczcczcczcc" /><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#0e0854;fill-opacity:1;stroke:#ff0707;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="1288.6948"
                    y="530.23181"
                    id="text22"><tspan
                    sodipodi:role="line"
                    id="tspan22"
                    x="1288.6948"
                    y="530.23181">C-7</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#0e0854;fill-opacity:1;stroke:#ff0707;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="829.7113"
                    y="582.11346"
                    id="text22-0"><tspan
                    sodipodi:role="line"
                    id="tspan22-5"
                    x="829.7113"
                    y="582.11346">C-7</tspan></text></g><g
                id="g78"
                inkscape:label="C-5"><path
                    style="fill:none;stroke:#ffd507;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                    d="M 619.4292,825.41164 835.78485,609.35236 c 0,0 3.13401,-3.19794 6.22393,-5.3348 3.08992,-2.13686 8.89133,-2.37102 8.89133,-2.37102 h 82.98573 c 0,0 8.19161,1.2848 12.81923,6.26144 4.62763,4.97664 4.66705,9.00201 4.66705,9.00201 l 0.14819,31.49012 c 0,0 -0.99851,7.4772 -6.5203,13.04062 -5.52179,5.56342 -8.0763,12.37377 -8.0763,12.37377 l -0.98134,100.54893 c 0,0 -0.50035,2.1814 -0.96104,3.51185 -0.4607,1.33045 -2.74144,3.36207 -2.74144,3.36207 L 812.6674,902.17344"
                    id="path1"
                    sodipodi:nodetypes="cczcczcczcczcc" /><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#ffd507;fill-opacity:1;stroke:#ffd507;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="606.84369"
                    y="838.31097"
                    id="text13"><tspan
                    sodipodi:role="line"
                    id="tspan13"
                    x="606.84369"
                    y="838.31097">C-5</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#ffd507;fill-opacity:1;stroke:#ffd507;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="801.0387"
                    y="913.08295"
                    id="text13-5"><tspan
                    sodipodi:role="line"
                    id="tspan13-5"
                    x="801.0387"
                    y="913.08295">C-5</tspan></text></g><g
                id="g76"
                inkscape:label="C-4"
                style="display:inline"><g
                    id="g8"><path
                    style="fill:none;stroke:#181ce2;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                    d="m 907.2312,874.11904 0.20957,-51.03045 c 0,0 0.31928,-2.70635 0.89067,-4.00803 0.57139,-1.30169 2.67203,-3.74608 2.67203,-3.74608 l 46.3151,-47.46774 c 0,0 1.2027,-0.76162 2.00363,-3.54363 0.80093,-2.78202 0.82558,-4.00091 0.82558,-4.00091 L 959.9255,612.43943 c 0,0 -0.21852,-1.77944 -0.616,-2.90329 -0.39748,-1.12385 -1.78136,-2.72442 -1.78136,-2.72442 0,0 -6.05085,-6.65454 -6.71152,-10.1462 -0.66067,-3.49166 -1.51367,-16.18387 -0.30909,-19.29847 1.20458,-3.1146 5.80967,-7.25671 7.1254,-9.74504 1.31573,-2.48833 1.15264,-2.8292 1.15264,-2.8292 l 0.31435,-151.72913 c 0,0 -0.22755,-7.70698 -1.76738,-11.2116 -1.53978,-3.50461 -6.55318,-8.85537 -6.55318,-8.85537 l -85.65312,-86.54226"
                    id="path7"
                    sodipodi:nodetypes="cczcczcczczzzcczcc" /><path
                    style="fill:none;stroke:#181ce2;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                    d="m 1053.7211,406.567 -84.66657,0.10478 c 0,0 -3.01796,-0.13182 -4.69813,1.06397 -1.68018,1.19578 -5.04799,6.29534 -5.04799,6.29534"
                    id="path8"
                    sodipodi:nodetypes="cczc" /></g><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#ffd507;fill-opacity:1;stroke:#181ce2;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="897.23541"
                    y="885.03302"
                    id="text14"><tspan
                    sodipodi:role="line"
                    id="tspan14"
                    x="897.23541"
                    y="885.03302">C-4</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#ffd507;fill-opacity:1;stroke:#181ce2;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="852.67841"
                    y="302.30515"
                    id="text15"><tspan
                    sodipodi:role="line"
                    id="tspan15"
                    x="852.67841"
                    y="302.30515">C-4b</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#ffd507;fill-opacity:1;stroke:#181ce2;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="1057.179"
                    y="409.59384"
                    id="text16"><tspan
                    sodipodi:role="line"
                    id="tspan16"
                    x="1057.179"
                    y="409.59384">C-4a</tspan></text></g><g
                id="g77"
                inkscape:label="C-3"><path
                    style="fill:none;stroke:#b707ff;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                    d="m 968.67353,523.95196 -0.45728,40.63128 c 0,0 0.26796,0.72849 -0.98793,3.05397 -1.25589,2.32548 -6.18678,6.95563 -7.9281,9.85456 -1.74132,2.89893 -1.20782,15.20088 -0.44456,17.70856 0.76326,2.50768 6.5203,8.07629 6.5203,8.07629 0,0 1.07504,0.90422 1.85236,2.74149 0.77732,1.83727 1.03732,2.88968 1.03732,2.88968 l 0.57932,148.06127 c 0,0 0.0839,2.38057 0.83828,4.40099 0.75434,2.02042 2.72442,3.98184 2.72442,3.98184 L 1136.711,930.91268"
                    id="path2"
                    sodipodi:nodetypes="cczzzczcczcc" /><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#0e0854;fill-opacity:1;stroke:#b707ff;stroke-width:1.7;stroke-dasharray:none;stroke-opacity:1"
                    x="1140.4833"
                    y="938.66681"
                    id="text21"><tspan
                    sodipodi:role="line"
                    id="tspan21"
                    x="1140.4833"
                    y="938.66681">C-3</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#b4da00;fill-opacity:1;stroke:#b707ff;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="849.26251"
                    y="527.7406"
                    id="text32"><tspan
                    sodipodi:role="line"
                    id="tspan32"
                    x="849.26251"
                    y="527.7406">C-3</tspan></text></g><g
                id="g82"
                inkscape:label="C-2"><path
                    style="fill:none;stroke:#196510;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                    d="m 1008.4248,523.99561 -0.074,98.61965 70.8152,69.71925 c 0,0 2.5566,2.12647 7.1127,1.94751 4.5561,-0.17895 6.8417,-3.11813 6.8417,-3.11813 l 247.4505,-246.92658"
                    id="path9"
                    sodipodi:nodetypes="ccczcc" /><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#196510;fill-opacity:1;stroke:#196510;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="1346.913"
                    y="437.2684"
                    id="text26"><tspan
                    sodipodi:role="line"
                    id="tspan26"
                    x="1346.913"
                    y="437.2684">C-2</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#b4da00;fill-opacity:1;stroke:#196510;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="821.54871"
                    y="527.7406"
                    id="text31"><tspan
                    sodipodi:role="line"
                    id="tspan31"
                    x="821.54871"
                    y="527.7406">C-2</tspan></text></g><g
                id="g83"
                inkscape:label="C-1"><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#b4da00;fill-opacity:1;stroke:#1cbcd1;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="793.73523"
                    y="527.70251"
                    id="text30"><tspan
                    sodipodi:role="line"
                    id="tspan30"
                    x="793.73523"
                    y="527.70251">C-1</tspan></text><g
                    id="g79"><path
                    style="fill:none;stroke:#1cbcd1;stroke-width:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                    d="m 1017.0697,524.15703 c 0,0 -0.033,-7.39073 0.3955,-8.29896 0.4289,-0.90823 23.3672,-24.72933 23.3672,-24.72933 0,0 1.4977,-1.54724 2.8808,-2.00363 1.3831,-0.4564 3.3015,-0.616 3.3015,-0.616 h 127.5237"
                    id="path12"
                    sodipodi:nodetypes="czczcc" /><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#f2f2f2;fill-opacity:1;stroke:#1cbcd1;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="1179.0442"
                    y="492.70053"
                    id="text24"><tspan
                        sodipodi:role="line"
                        id="tspan24"
                        x="1179.0442"
                        y="492.70053">C-1</tspan></text></g></g><g
                id="g81"
                inkscape:label="CIVIS"><path
                    style="fill:none;stroke:#e020cc;stroke-width:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Dot);marker-end:url(#Dot)"
                    d="m 1026.2308,524.07233 -0.097,-8.52348 c 0,0 0.03,-0.9349 0.8521,-1.51894 0.8219,-0.58404 15.8534,-17.30124 17.2044,-17.55215 1.351,-0.25091 17.6018,-0.65464 18.3105,-0.17415 0.7087,0.48048 99.8926,99.119 99.8926,99.119 0,0 3.4453,2.77407 7.7582,2.92936 4.3129,0.15529 7.0697,-2.92191 7.0697,-2.92191 L 1334.737,438.78705"
                    id="path11"
                    sodipodi:nodetypes="cczzzczcc" /><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#196510;fill-opacity:1;stroke:#e020cc;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="1407.2008"
                    y="437.01059"
                    id="text28"><tspan
                    sodipodi:role="line"
                    id="tspan28"
                    x="1407.2008"
                    y="437.01059">CIVIS</tspan></text><text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Monospace;-inkscape-font-specification:Monospace;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#b4da00;fill-opacity:1;stroke:#e020cc;stroke-width:1.7;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    x="912.23706"
                    y="527.48279"
                    id="text34"><tspan
                    sodipodi:role="line"
                    id="tspan34"
                    x="912.23706"
                    y="527.48279">CIVIS</tspan></text></g><g
                id="g72"
                transform="translate(1199.709,88.102116)"
                inkscape:label="Nodos"
                style="display:inline"><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient72);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-92"
                    width="19.160997"
                    height="8.2633238"
                    x="463.0433"
                    y="247.94879"
                    ry="3.9459574"
                    transform="rotate(135)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient68);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-61"
                    width="19.160997"
                    height="8.2633238"
                    x="-450.93903"
                    y="89.148216"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient69);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-2"
                    width="19.160997"
                    height="8.2633238"
                    x="-451.7489"
                    y="62.927795"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient70);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-8"
                    width="19.160997"
                    height="8.2633238"
                    x="-451.98883"
                    y="37.545139"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient46);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7"
                    width="28.31702"
                    height="8.2197399"
                    x="340.84796"
                    y="316.32153"
                    ry="3.9251447"
                    transform="rotate(43.901516)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient46-6);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7-0"
                    width="28.31702"
                    height="8.2197399"
                    x="341.39484"
                    y="288.21884"
                    ry="3.9251447"
                    transform="rotate(43.901516)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient46-5);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7-8"
                    width="28.31702"
                    height="8.2197399"
                    x="334.06152"
                    y="227.69707"
                    ry="3.9251447"
                    transform="rotate(43.901516)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient46-1);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7-40"
                    width="28.31702"
                    height="8.2197399"
                    x="334.90308"
                    y="201.57567"
                    ry="3.9251447"
                    transform="rotate(43.901516)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient46-8);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7-43"
                    width="28.31702"
                    height="8.2197399"
                    x="335.39929"
                    y="178.01535"
                    ry="3.9251447"
                    transform="rotate(43.901516)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient46-80);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7-3"
                    width="28.31702"
                    height="8.2197399"
                    x="335.73349"
                    y="154.40958"
                    ry="3.9251447"
                    transform="rotate(43.901516)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient44);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6"
                    width="28.31702"
                    height="8.2197399"
                    x="-519.06964"
                    y="321.96594"
                    ry="3.9251447"
                    transform="rotate(-42.077391)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient45);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-1"
                    width="28.31702"
                    height="8.2197399"
                    x="-517.45612"
                    y="364.50308"
                    ry="3.9251447"
                    transform="rotate(-42.077391)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient47);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7-6"
                    width="28.31702"
                    height="8.2197399"
                    x="344.19333"
                    y="464.51773"
                    ry="3.9251447"
                    transform="rotate(44.718657)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient50);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7-6-3"
                    width="28.31702"
                    height="8.2197399"
                    x="343.94958"
                    y="490.70157"
                    ry="3.9251447"
                    transform="rotate(44.718657)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient48);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7-4"
                    width="28.31702"
                    height="8.2197399"
                    x="344.8324"
                    y="439.92053"
                    ry="3.9251447"
                    transform="rotate(44.718657)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient49);stroke-width:0.24873;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-0-6-7-60"
                    width="28.31702"
                    height="8.2197399"
                    x="343.22421"
                    y="405.84952"
                    ry="3.9251447"
                    transform="rotate(44.718657)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient35);stroke-width:0.404079;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34"
                    width="76.174843"
                    height="8.0643902"
                    x="-245.50993"
                    y="432.55582"
                    ry="3.8509612" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient42);stroke-width:0.382647;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-3"
                    width="68.1278"
                    height="8.0858212"
                    x="-253.03731"
                    y="527.29254"
                    ry="3.8611953" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient39);stroke-width:0.361072;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1"
                    width="60.500053"
                    height="8.107398"
                    x="-244.9765"
                    y="456.37756"
                    ry="3.8714983" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient40);stroke-width:0.280151;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-8"
                    width="36.061211"
                    height="8.1883183"
                    x="-221.07858"
                    y="490.45691"
                    ry="3.91014" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient51);stroke-width:0.280151;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-8-6"
                    width="36.061211"
                    height="8.1883183"
                    x="325.31415"
                    y="352.92923"
                    ry="3.91014"
                    transform="rotate(43.034672)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient52);stroke-width:0.280151;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-8-6-9"
                    width="36.061211"
                    height="8.1883183"
                    x="325.50751"
                    y="380.61267"
                    ry="3.91014"
                    transform="rotate(43.034672)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient53);stroke-width:0.280151;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-8-6-7"
                    width="36.061211"
                    height="8.1883183"
                    x="329.52917"
                    y="263.34613"
                    ry="3.91014"
                    transform="rotate(43.034672)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient41);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5"
                    width="19.160997"
                    height="8.2633238"
                    x="-253.86526"
                    y="497.53986"
                    ry="3.9459574" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient71);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-9"
                    width="19.160997"
                    height="8.2633238"
                    x="395.15662"
                    y="134.97276"
                    ry="3.9459574"
                    transform="rotate(90)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient56);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1"
                    width="19.160997"
                    height="8.2633238"
                    x="-243.53081"
                    y="662.33533"
                    ry="3.9459574" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient57);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2"
                    width="19.160997"
                    height="8.2633238"
                    x="-632.09241"
                    y="101.5303"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient58);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-6"
                    width="19.160997"
                    height="8.2633238"
                    x="-634.05139"
                    y="30.810026"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient59);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-7"
                    width="19.160997"
                    height="8.2633238"
                    x="-634.63251"
                    y="4.3476014"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient60);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-0"
                    width="19.160997"
                    height="8.2633238"
                    x="-634.93896"
                    y="-23.404711"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient61);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-5"
                    width="19.160997"
                    height="8.2633238"
                    x="-635.61133"
                    y="-48.833141"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient62);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-67"
                    width="19.160997"
                    height="8.2633238"
                    x="-636.24713"
                    y="-74.810577"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient63);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-9"
                    width="19.160997"
                    height="8.2633238"
                    x="-637.48645"
                    y="-112.44086"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient64);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-4"
                    width="19.160997"
                    height="8.2633238"
                    x="-638.29413"
                    y="-139.87283"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient65);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-3"
                    width="19.160997"
                    height="8.2633238"
                    x="-638.66071"
                    y="-167.83974"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient66);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-97"
                    width="19.160997"
                    height="8.2633238"
                    x="-639.37341"
                    y="-190.39888"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient67);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-1-2-65"
                    width="19.160997"
                    height="8.2633238"
                    x="-640.80121"
                    y="-218.69794"
                    ry="3.9459574"
                    transform="rotate(-43.646225)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient54);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-0"
                    width="19.160997"
                    height="8.2633238"
                    x="209.76921"
                    y="568.77905"
                    ry="3.9459574"
                    transform="rotate(45.343522)" /><rect
                    style="fill:#f2f2f2;fill-opacity:0.8017;stroke:url(#linearGradient55);stroke-width:0.205146;stroke-dasharray:none;stroke-dashoffset:0"
                    id="rect34-1-5-0-0"
                    width="19.160997"
                    height="8.2633238"
                    x="301.90576"
                    y="684.84027"
                    ry="3.9459574"
                    transform="rotate(45.343522)" /></g></g></g></g>
        </svg>
    </div>
    <div class="interactive-map-buttons">
        <button class="btn btn-primary" id="lines" data-action="C-1">C-1</button>
        <button class="btn btn-primary" id="lines" data-action="C-2">C-2</button>
        <button class="btn btn-primary" id="lines" data-action="C-3">C-3</button>
        <button class="btn btn-primary" id="lines" data-action="C-4">C-4</button>
        <button class="btn btn-primary" id="lines" data-action="C-5">C-5</button>
        <button class="btn btn-primary" id="lines" data-action="C-7">C-7</button>
        <button class="btn btn-primary" id="lines" data-action="C-8">C-8</button>
        <button class="btn btn-primary" id="lines" data-action="C-9">C-9</button>
        <button class="btn btn-primary" id="lines" data-action="C-10">C-10</button>
        <button class="btn btn-primary" id="lines" data-action="CIVIS">CIVIS</button>
    </div>
</div>

<script src="js/interactive_map.js"></script>