<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partial de bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!--HEADER-->
    <div id="_header"></div>

    <section class="d-flex flex-wrap justify-content-center gap-3 mb-4">

        <form role="form">

            <div class="row">
                <div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
                    <div class="row">
                        <div class="form-group col-12">
                            <h2>Añadir alerta</h2>

                            <label class="form-label" for="date">Introduzca la fecha de inicio de la alerta:</label>
                            <input type="date" class="form-control" id="date" required>


                        </div>


                        <div class="form-group col-12">
                            <label class="form-label" for="date">Introduzca la fecha de final de la alerta:</label>
                            <input type="date" class="form-control" id="date" required>

                        </div>

                        <div class="row">
                            <div class="form-group col-12">
                                <label class="form-label" for="date">Introduzca las horas de la alerta:</label>
                            </div>
                        </div>
                    </div>


                </div>





            </div>


            <div class="d-flex flex-wrap justify-content-center gap-3 mb-4">

                <div class="row">
                    <div class="col-12">
                        <div class="range">
                            <div class="range-slider">
                                <span class="range-selected"></span>
                            </div>
                            <div class="range-input">
                                <input type="range" class="min" id="slider-min" min="0" max="1439" value="480" step="5">
                                <input type="range" class="max" id="slider-max" min="0" max="1439" value="560" step="5">
                            </div>
                            <div class="range-price">
                                <label for="min">Inicio</label>
                                <input type="time" id="min-input" name="min" value="08:00">
                                <label for="max">Fin</label>
                                <input type="time" id="max-input" name="max" value="09:00">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Button row-->
                <div class="row">
                    <div class="d-flex justify-content-center gap-3 mb-4">
                        <div class="col-12">
                            <button type="submit" class="btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>


            </div>





        </form>


    </section>

    <!-- Footer -->
    <div id="_footer"></div>
</body>

<script src="../js/js_slider.js"></script>
<script>
    // Cargamos el contenido de _header.html
    fetch('./partials/_header.html')
        .then(response => response.text())
        .then(data => {
            // Lo inyectamos en el div que creamos arriba
            document.getElementById('_header').innerHTML = data;
        })
        .catch(error => console.error('Error al cargar el header:', error));
</script>
<script>
    // Cargamos el contenido de _footer.html
    fetch('./partials/_footer.html')
        .then(response => response.text())
        .then(data => {
            // Lo inyectamos en el div que creamos arriba
            document.getElementById('_footer').innerHTML = data;
        })
        .catch(error => console.error('Error al cargar el footer:', error));
</script>

</html>