{{# error}}
<h1>{{error}}</h1>
{{/ error}}

<form role="form" action="/login" method="post">
    <div class="row d-flex justify-content-center gap-3 mb-4 ms-3 me-3">
        <div class="form-group col-10">
            <h2 class="form-title">Inicio de sesión</h2>

            <!--email-->
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="text" class="form-control" id="email" required placeholder="Inserte su correo" name="username">
        </div>
    </div>

    <!--Password-->
    <div class="row d-flex justify-content-center gap-3 mb-4 ms-3 me-3">
        <div class="form-group col-10">
            <label for="pwd" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="pwd" required placeholder="Inserte su contraseña" name="password">
        </div>
    </div>

    <!--Button row-->
    <div class="row d-flex justify-content-center gap-3 mb-4 ms-3 me-3">
        <div class="col-auto mt-2">
            <input type="submit" value="Sign In" class="btn btn-primary"/>
        </div>
    </div>
</form>