<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <!-- Globales, siempre presentes -->
    {{#globalStyles}}
    <link rel="stylesheet" href="{{.}}">
    {{/globalStyles}}
    {{#globalScripts}}
    <script src="{{.}}"></script>
    {{/globalScripts}}

</head>

{{# Layout}}
<body>

    <main class="container-main">

        <form role="form" method="post" action="/form/added">

            <div class="row">
                <div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
                    <div class="form-group col-auto">
                        <h2>Añadir alerta</h2>

                        <label class="form-label" for="lines">Línea:</label>
                        <select class="form-control" id="date" name="lines">
                            {{#lines}}
                            <option value={{nombre}}>{{.}}</option>
                            {{/lines}}
                            
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
                    <div class="form-group col-10">
                        <label class="form-label" for="date">Introduzca la fecha de inicio de la alerta:</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
                    <div class="form-group col-10">
                        <label class="form-label" for="date">Introduzca la fecha de final de la alerta:</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
                    <div class="form-group col-10">
                        <label class="form-label" for="date">Introduzca las horas de la alerta:</label>
                        <div class="range-slider">
                            <span class="range-selected"></span>
                        </div>
                        <div class="range-input">
                                <label class="form-label" for="date">Inicio:</label>
                            <input type="range" class="min form-control" id="slider-min" min="0" max="1439" value="480"
                                step="5">
                                <label class="form-label" for="date">Fin:</label>
                            <input type="range" class="max form-control" id="slider-max" min="0" max="1439" value="540"
                                step="5">
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
                    <div class="form-group col-auto">
                        <div class="range-price">
                            <label for="min">Inicio</label>
                            <input type="time" id="input-min" name="min" value="08:00">
                            <label for="max">Fin</label>
                            <input type="time" id="input-max" name="max" value="09:00">
                        </div>
                    </div>
                </div>
            </div>

            <!--Button row-->
            <div class="row">
                <div class="d-flex justify-content-center gap-3 mb-4">
                    <div class="col-auto">
                        <button type="submit" value="Send" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </div>
        </form>
    </main>

</body>
{{/ Layout }}

<script src="/workspaces/practica-ssdd-2025-26-grupo-1/backend/src/main/resources/js/components/slider.js"></script>
</html>