<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <!-- Globales, siempre presentes -->
    {{#globalStyles}}
    <link rel="stylesheet" href="{{.}}">
    {{/globalStyles}}
    {{#globalScripts}}
    <script src="{{.}}"></script>
    {{/globalScripts}}
</head>

{{#Layout}}
<body>
    <main class="container-main">
        <!--Summary-->
        <div class="row text-center ms-3 me-3">
            <h1>Bienvenido a TrainFyre</h1>
            <p>
                Utiliza esta página web para estar al día de las incidencias de Renfe. Regístrate para crear alertas
                personalizadas y que nada te pille por sorpresa.
            </p>
        </div>

        <!--Interactive map and news-->
        <div class="row mt-5 justify-content-center">
            
            <div class="col-lg-7 col-md-8 p-0"> 
                {{> /partials/_interactive_map}}
            </div>
            {{#interactiveMapScript}}
                <script src="/js/{{.}}" defer></script>
            {{/interactiveMapScript}}

            <div class="col-lg-3 col-md-4 p-0">
                <div class="ms-3"> <h2 class="h4">Últimas incidencias:</h2>
                    <p>Incidencia 1</p>
                    <p>Incidencia 2</p>
                    <p>Incidencia 3</p>
                    <p>Incidencia 4</p>
                </div>
            </div>

        </div>
    </main>
</body>
{{/Layout}}

</html>