<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <!-- Globales, siempre presentes -->
    {{#globalStyles}}
    <link rel="stylesheet" href="{{.}}">
    {{/globalStyles}}
    {{#globalScripts}}
    <script src="{{.}}"></script>
    {{/globalScripts}}

</head>

{{# Layout }}
<body>

    <main class="container-main">
        <form role="form" action="/register" target="_blank" method="post">
            <div class="row d-flex justify-content-center gap-3 mb-1 ms-3 me-3">
                <div class="form-group col-10">
                    <h2 class="form-title">Registrarse</h2>
                </div>
            </div>

            <!--username-->
            <div class="row d-flex justify-content-center gap-3 mb-4 ms-3 me-3">
                <div class="form-group col-10">
                    <label for="username" class="form-label">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="username" required placeholder="Inserte su nombre de usuario" name="username">
                </div>
            </div>

            <!--email-->
            <div class="row d-flex justify-content-center gap-3 mb-4 ms-3 me-3">
                <div class="form-group col-10">
                    <label for="email" class="form-label">Correo electrónico:</label>
                    <input type="email" class="form-control" id="email" required placeholder="Inserte su correo" name="email">
                </div>
            </div>

            <!--Password-->
            <div class="row d-flex justify-content-center gap-3 mb-4 ms-3 me-3">
                <div class="form-group col-10">
                    <label for="pwd" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="pwd" required placeholder="Inserte su contraseña" name="password">
                </div>
            </div>

            <!--Confirm Password-->
            <div class="row d-flex justify-content-center gap-3 mb-4 ms-3 me-3">
                <div class="form-group col-10">
                    <label for="rpwd" class="form-label">Repita su contraseña:</label>
                    <input type="password" class="form-control" id="rpwd" required placeholder="Inserte su contraseña">
                </div>
            </div>

            <!--Button row-->
            <div class="row d-flex justify-content-center gap-3 mb-4 ms-3 me-3">
                <div class="col-auto mt-2">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </form>
    </main>

</body>
{{/ Layout }}

<script src="../static/js/js_slider.js"></script>

</html>