<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <!-- Globales, siempre presentes -->
    {{#globalStyles}}
    <link rel="stylesheet" href="{{.}}">
    {{/globalStyles}}
    {{#globalScripts}}
    <script src="{{.}}"></script>
    {{/globalScripts}}

    <!-- Específicos de página, solo si el controller los envía -->
    {{#pageStyles}}
    <link rel="stylesheet" href="/css/{{.}}">
    {{/pageStyles}}
    {{#pageScripts}}
    <script src="/js/{{.}}" defer></script>
    {{/pageScripts}}

</head>
{{# Layout }}
<body>

    <! -- Pagina de ejemplo -->

    {{#username}}
    <h1>Bienvenido, {{username}}</h1>
    {{/username}}

    {{^username}}
    <h1>Bienvenido</h1>
    <p>Inicia sesión para acceder a todas las funciones.</p>
    {{/username}}

    {{#stations}}
        <p>Estación: {{name}} en la dirección: {{address}}</p>
    {{/stations}}

</body>
{{/ Layout }}
</html>